{% extends 'base.html' %}

{% block title %}Edit Quiz{% endblock %}


{% block style %}
<style>

</style>
{% endblock %}


{% block content %}
	{% if g and g.user and g.user.user_type == "Teacher" %}
	<div class="d-flex justify-content-end my-4">
		<form action="{{ url_for('quiz.delete_quiz', quiz_id=data['quiz_id']) }}" method="post">
			<input class="btn btn-danger" type="submit" value="Delete Quiz" onclick="return confirm('Are you sure?');">
		</form>
	</div>
	{% endif %}

	<main class="">
		<form method="Post">			
			<h1 class="">Edit Quiz</h1>

	
			<select class="form-select">
				<option selected>{{ data.quiz_title }}</option>
			</select>
			<div class="form-floating">
				<textarea class="form-control" style="height:150px" name="description" placeholder="Description" rows="4">{{ data.quiz_description }}</textarea>
				<label for="description">Description</label>
			</div>
			<div class="d-grid">
				<button class="btn btn-primary" type="submit">Update Quiz</button>
			</div>
		</form>
		<hr>
		<form action="{{ url_for('quiz.delete_quiz', quiz_id=data.quiz_id) }}" method="POST">
			<input class="btn btn-danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
		</form>
	</main>
{% endblock %}
