{% extends 'base.html' %}

{% block title %}Quiz {{ data.quiz_id }}{% endblock %}


{% block style %}
<style>
	.quiz-container {
		background-color: #f2f2f2;
		border: 1px solid #ccc;
	}
	
</style>
{% endblock %}


{% block content %}
	{% if data %}

		{% if g and g.user and g.user.role == "Teacher" %}
			<div class="d-flex justify-content-end my-4">
				<a class="btn btn-primary" href="{{ url_for('quiz.edit_quiz', quiz_id=data.quiz_id) }}">
					Edit Quiz
				</a>
			</div>
		{% endif %}

		<div class="quiz-container w-80 m-auto mt-5 p-3">
			<h3 class="text-center text-uppercase">Quiz Details</h3>
			<p>Country: {{ data.event_country }}</p>
			<p>Year: {{ data.event_year }}</p>
			<p>Event: {{ data.event_title }}</p>
			<p>Description: {{ data.quiz_description or 'No description' }}</p>
			<p>Questions: {{ data.no_of_question or 0 }}</p>
		</div>

		{% if g and g.user and g.user.role == "Teacher" %}
			{% if data.no_of_question %}
			<a class="btn btn-success" href="{{ url_for('quiz.list_question', quiz_id=data.quiz_id) }}">
				View Questions
			</a>
			{% else %}
			<a class="btn btn-primary" href="{{ url_for('quiz.create_question', quiz_id=data.quiz_id) }}">
				Add Question
			</a>
			{% endif %}
		{% else %}
			<a class="btn btn-primary" href="{{ url_for('quiz.take_quiz', quiz_id=data.quiz_id) }}">
				Take Quiz
			</a>
		{% endif %}

	{% else %}
		<div>
			Nothing to show.
		</div>
	{% endif %}

{% endblock %}
