{% extends 'base.html' %}

{% set event_year = (data.keys() | list)[0] %}

{% block title %}Event Group {{ event_year }}{% endblock %}


{% block style %}
<style>
	.event-container {
		background-color: #f2f2f2;
		border: 1px solid #ccc;
	}
</style>
{% endblock %}


{% block content %}
	{% if data %}
	<div class="">
		<div class="row">
			{% for country, events in data[event_year].items() %}
			<div class="col-6">
				<div class="d-flex justify-content-center align-items-center flex-column">
					<h5>{{ country }}</h5>
					<h6>{{ event_year }}</h6>
				</div>
				{% for event in events %}
				<div class="event-container w-80 m-auto mt-5 p-3">
					<h3 class="text-center text-uppercase">{{ event.event_title }}</h3>
					<p>{{ event.event_description }}</p>
					{% if event.quiz_id %}
					<form action="{{ url_for('quiz.view_quiz', quiz_id=event.quiz_id) }}">
						<input class="btn btn-primary" type="submit" value="View Quiz">
					</form>
					{% elif g and g.user and g.user.role == "Teacher" %}
					<form action="{{ url_for('quiz.create_quiz') }}" method="POST">
						<input type="hidden" name="event_id" value="{{ event.event_id }}">
						<input type="hidden" name="description" value="">
						<input class="btn btn-success" type="submit" value="Add Quiz">
					</form>
					{% endif %}
				</div>
				{% endfor %}
			</div>
			{% endfor %}
		</div>
	</div>
	{% else %}
	<div>
		Nothing to show.
	</div>
	{% endif %}
{% endblock %}
