
.timeline:before {
	content: '';
	position: absolute;
	width: 2px;
	height: var(--timeline_height);
	left: 50%;
	margin-left: -1px;
	background: linear-gradient(
		to bottom,
		transparent 0%,
		rgba(213,213,213,0) 5%,
		rgb(122, 0, 0) 15%,
		rgb(122, 0, 0) 90%,
		rgba(213,213,213,0) 100%
	);
}

.event_group a {
	text-decoration: none;
	color: black;
}

.event_group:before {
	content: '';
	position: absolute;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: #6f91dd;
	left: 50%;
	margin-left: -8px;
	margin-top: 5px;
}

.event_year a {
	border-radius: 5px;
	background-color: rgb(63, 136, 143);
	padding: 5px 100px;
	margin: 0 20px;
	text-align: center;
}

.event_year a:after, .event_year a:before {
	content: '';
	position: absolute;
	border: 10px solid transparent;
	margin-top: 2px;
}

.event_left .event_year a:after {
	margin-left: 98px;
	border-left-color: rgb(63, 136, 143);
}

.event_right .event_year a:before {
	margin-left: -118px;
	border-right-color: rgb(63, 136, 143);
}

.event_title {
	margin: 20px;
}

.event_title a {
	border-radius: 5px;
	background-color: bisque;
	padding: 5px 10px;
}
